<h1 class="page-header">Adicionar Chamada</h1>

<form role="form" [ngFormModel]="chamadaForm" (ngSubmit)="onSubmit(chamadaForm.value)">

    <div class="form-group label-floating">
        <label class="control-label" for="titulo">Título</label>
        <input class="form-control" [(ngModel)]="chamada.titulo" id="titulo" type="text" ngControl="titulo">
        <control-messages control="titulo"></control-messages>
        <p class="help-block">Informe o título</p>
    </div>

    <div class="form-group label-floating">
        <label class="control-label" for="texto">Texto</label>
        <textarea rows="6" class="form-control" [(ngModel)]="chamada.texto" id="texto" ngControl="texto"></textarea>
        <control-messages control="texto"></control-messages>
        <p class="help-block">Informe o conteúdo da chamada</p>
    </div>

    <div class="form-group label-floating">
        <label class="control-label" for="midia">Mídia</label>
        <input class="form-control" [(ngModel)]="chamada.midia" id="midia" type="text" ngControl="midia">
        <control-messages control="midia"></control-messages>
        <p class="help-block">Informe a URL da mídia.</p>
    </div>

    <div class="form-group label-floating">
        <label class="control-label" for="aceitaInscricao">Aceita Inscrição?</label>
        <input [(ngModel)]="chamada.aceitaInscricao" id="aceitaInscricao" ngControl="aceitaInscricao" type="checkbox">
        <control-messages control="aceitaInscricao"></control-messages>
        <p class="help-block">True ou False</p>
    </div>

    <button class="btn btn-default" type="submit">Cadastrar</button>

</form>
